body {
    transition: background-color 0.3s, color 0.3s;
}

body.light {
    background-color: white;
    color: black;
}

body.light:hover {
    background-color: #f0f0f0;
}

body.dark {
    background-color: black;
    color: white;
}

body.dark:hover {
    background-color: #333;
}